/* @import url('https://fonts.googleapis.com/css2?family=Lato&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");

:root {
  --resmenugray: rgba(128, 128, 128, 0.571);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Header Section */
.header {
  display: flex;
  align-items: center;
  align-items: center;
  height: 85px;
  background-color: white;
  box-shadow: 0px 1px 30px 0px rgb(131, 130, 130);
  position: sticky;
  top: 0;
  z-index: 2;
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

.header-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
}

.logo {
  width: 100px;
}

.nav-items ul {
  list-style: none;
  display: flex;
}

.green-dot {
  background-color: green;
  width: 15px;
  height: 15px;
  border-radius: 50%;

}
.nav-items ul li {
  padding: 0px 35px;
  margin: 5px;
}

.nav-items ul li :hover {
  color: orangered;
}

.nav-items ul li {
  text-decoration: none;
  color: black;
  font-size: 20px;
}
.nav-items ul li a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}

/* Offers Section */
.offers-container {
  width: 70vw;
  margin: auto;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  top: 35px;
  height: 370px;
}

.offers-container p {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-size: 22px;
  width: 300px;
}

.offers-scrollbox{
  display: flex;
  height: 250px;
  position: relative;
  /* top: 20px;  */
  gap: 15px;
}
.offers-scrollbox a{
  display: flex;
  height: 250px;
  position: relative;
  top: 20px;
  gap: 15px;
}

/* ImageLayout Section */
.imagelayout-container {
  width: 70vw;
  margin: auto;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  top: 5px;
  height: 270px;
}

.imgL2 {
  position: relative;
  /* top: 80px; */
}

.mind-container {
  /* height: 450px; */
  display: flex;
  width: 70vw;
  /* position: relative; */
  /* bottom: 15px; */
}

.mind-container p {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-size: 22px;
  width: 300px;
}

.arrow-container {
  display: flex;
  width: 70vw;
  justify-content: flex-end;
  gap: 10px;
}


.hr-line {
  background-color: #f0f0f0;
  margin: auto;
  width: 70vw;
  height: 2px;
  position: relative;
  /* top: 20px; */
  margin-top: 35px;
}

/* .scroll-btn {
    position: absolute;
    top: 0;
    bottom: 0;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
} */

/* .prev-btn {
    left:0;
}

.next-btn {
    right:0;
} */

/* Body Section */
.body {
  margin-top: 100px;
  font-family: "Lato", sans-serif;
}

.body-heading {
  position: relative;
  left: 222px;
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-size: x-large;
  display: inline-block;
}

.body-heading p {
  /* width: 500px; */
  overflow: hidden;
  display: inline-block;
}

.filter {
  position: relative;
  left: 236px;
  width: 70vw;
  margin-top: 20px;
  display: flex;
  gap: 30px;
  height: 40px;
  align-items: center;
}

.filter-btn {
  display: inline-block;
  border-radius: 50px;
  height: 40px;
  background-color: white;
  border: 1px solid #acaaaa;
  box-shadow: 5px 5px 10px #e5e5e5;
  font-family: "Lato", sans-serif;
  transition: all 0.25s;
}

.filter-btn1 {
  width: 95px;
}

.filter-btn2 {
  width: 105px;
}

.filter-btn:hover {
  background-color: rgb(241, 188, 188);
  background-color: rgba(255, 68, 0, 0.623);
  color: white;
  cursor: pointer;
}

.search-box {
  outline: none;
  width: 275px;
  border-radius: 50px;
  height: 40px;
  background-color: white;
  border: 1px solid #acaaaa;
  box-shadow: 5px 5px 10px #e5e5e5;
  font-family: "Lato", sans-serif;
  padding-left: 15px;
  font-size: 13.333px;
}

.search-icon {
  position: absolute;
  left: 245px;
  cursor: pointer;
}

.res-container {
  width: 70vw;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  margin-top: 40px;
}

.res-container a {
  text-decoration: none;
  color: black;
}

.res-card {
  width: 250px;
  padding: 12px;
  text-decoration: none;
}

.res-img {
  width: 230px;
  height: 230px;
  border-radius: 10px;
}

.res-info {
  font-weight: 400;
}
.res-card:hover {
  /* border: 1px solid black; */
  cursor: pointer;
}


/* Restaurant Menu Section  */
.res-menu-container {
  width: 50vw;
  margin: auto;
  position: relative;
  overflow: hidden;
  font-family: "Lato", sans-serif;
  margin-top: 50px;
  /* border: 1px solid black; */
  /* height: 100vw; */
}

.heart {
  /* font-size: 15px; */
  height: 25px;
  position: relative;
  right: 15px;
}

.res-menu-head1 {
  position: relative;
  left: 700px;
  width: 100px;
}

.res-menu-search {
  height: 25px;
  position: relative;
  left: 15px;
}

.res-menu-resname {
  font-weight: 900;
}

.res-menu-head2 {
  margin-top: 15px;
}

.res-menu-resinfo {
  color: gray;
  font-size: 14px;
}

.res-menu-resinfo1 {
  margin-top: 7px;
}

.res-menu-ratings {
  /* background-color: red; */
  border: 1px solid gray;
  width: 65px;
  min-height: 64px;
  position: relative;
  bottom: 55px;
  left: 700px;
  border-radius: 7px;
  text-align: center;
  max-height: 100px;
}

.avgRating {
  color: green;
  font-weight: 900;
}

.ratings-hrline {
  background-color: gray;
  width: 51px;
  height: 1px;
  position: relative;
  top: 11px;
  left: 6px;
}

.tRating {
  font-size: 12px;
  margin-top: 24px;
  color: gray;
}

.resmenu-head2-hrline {
  /* background-color: red; */
  width: 70vw;
  height: 1px;
  border: 1px dashed var(--resmenugray);
  margin-bottom: 15px;
  position: relative;
  bottom: 40px;
}

.res-menu-head3 {
  margin-top: -42px;
}

.head3-first {
  display: flex;
  gap: 20px;
  font-weight: 900;
}

.triangle {
  background-color: rgba(194, 192, 192, 0.379);
  width: 15px;
  height: 15px;
  position: relative;
  left: 50px;
  top: 7px;
  transform: rotate(45deg);
  bottom: 15px;
  z-index: -1;
}

.availability {
  position: relative;
  background-color: rgba(194, 192, 192, 0.379);
  height: 50px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  color: orangered;
  /* z-index: 1; */
}

.offer-box {
  font-family: "Lato", sans-serif;
  border: 1px solid gray;
  border-radius: 5px;
  width: 200px;
  /* line-height: 20px; */
  min-height: 55px;
  height: auto;
}

.offerbox-header {
  font-weight: 900;
  color: rgba(0, 0, 0, 0.717);
}

.offer-codes {
  display: flex;
  color: gray;
  gap: 5px;
  font-size: 10px;
  font-weight: 900;
  margin-top: 2px;
  /* flex-wrap: wrap; */
}

.flex {
  margin-top: 15px;
  display: flex;
  gap: 15px;
}

.all-res-menu {
  margin-top: 50px;
}

.res-menu-main {
  /* width: 80vw; */
  margin-top: 40px;
  /* height: 180px; */
  height: auto;
  display: flex;
  justify-content: space-between;
  
}

/* .res-menu-resInfo {
  width: 37vw;
  height: auto;
} */
.res-menu-resInfo {
  /* width: 37vw; */
  display: flex;
  flex-direction: column;
  height: auto;
}



.res-menu-img {
  width: 8vw;
}

.resImg-Btn {
  background-color: rgb(246, 230, 233);
  border: none;
  border-radius: 20px;
  width: 10vw;
  height: 8vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.non-veg-box {
  width: 18px;
  height: 16px;
  background-color: transparent;
  border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
}

.non-veg-triangle {
  width: 0;
  height: 0;
  border-bottom: 12px solid red;
  border-left: 7px solid #0000;
  border-right: 7px solid #0000;
}

.veg-box{
  width: 18px;
  height: 16px;
  background-color: transparent;
  border: 1px solid green;
  display: flex;
  justify-content: center;
  align-items: center;
}

.veg-circle{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: green;
}

.res-item-name {
  font-size: 17px;
}

.res-price {
  font-size: 14px;
  margin-top: 5px
}

.res-desc {
  color: gray;
  font-weight: 300;
  font-size: 15px;
  margin-top: 15px;
}

.resmenu-hrline {
  background-color: #f0f0f0;
  width: 100%;
  height: 2px;
  margin-top: 25px;
}



/* Collection-Page */
.collection-container {
  /* border: 1px solid black; */
  width: 80vw;
  margin: auto;
  font-family: "Lato", sans-serif;
}

.collection-header {
  margin-top: 50px;
}

.collection-header h1 {
  font-weight: 900;
  font-size: 38px;
}

.collection-header p {
  color: gray;
  font-weight: 400;
  margin-top: 10px;
}

.collection-filter {
  display: flex;
  gap: 15px;
  margin-top: 25px;
}

.collection-main {
  margin-top: 20px;
}
.collection-main h2{
  font-weight: 900;
}

.collection-res {
  width: 80vw;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 40px;
}

.collection-res a {
  text-decoration: none;
  color: black;
}

.res-card-coll {
  width: 290px;
  padding: 12px;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.res-img-coll {
  width: 260px;
  height: 230px;
  border-radius: 10px;
}

.res-info-coll {
  font-weight: 400;
}

/* .res-card-coll:hover {
  border: 1px solid black;
} */


